
.AboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .col {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    .col1 {
        flex: 1 1 auto;

        p {
            margin: 0;
            
            span {
                &.name {
                    font-size: 3em;
                }
    
                &.occupation {
                    font-size: 2em;
                }
    
                &.motto {
                    margin-top: 15px;
                    margin-left: 15px;
                }
            }
        }
    }

    img.col {
        flex: 0 0 auto;
    }
}