@import '@Styles/color-scheme';

.Divider {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    cursor: default;

    &.dot {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: @primary-color;
        border-radius: 100%;
    }

    &.line {
        margin-right: 3px;
        margin-left: 3px;
        // Slightly adjust the vertical alignment of the dividers to center them.
        position: relative;
        top: -1px;
    }
}
