
@import '@Styles/color-scheme';

.TabView {
    .TabViewHeader {
        border: 1px solid @border-color;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: scroll;
        white-space: nowrap;

        .headerItem {
            margin: 0px 1px;
            padding: 3px;
            padding-bottom: 0;
            cursor: pointer;

            &.active {
                border-bottom: 1px solid @primary-color;
            }
        }
    }
}
