
@import '@Styles/color-scheme';

.TabView {
    .TabViewHeader {
        border: 1px solid @border-color;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: scroll;
        height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .chevron {
            margin: 0 5px;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .content {
            white-space: nowrap;
            overflow: scroll;
            height: 50px;
            
            .headerItem {
                margin: 0px 1px;
                padding: 3px;
                padding-bottom: 0;
                cursor: pointer;

                &.active {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}
