
.TechnicalArticles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: scroll;

    .TechnicalArticle {
        flex: 0 0 auto;
    }
}
