
@import "@Styles/color-scheme";

.FluxArchitectureTechnicalArticle {
    overflow: auto;

    .code {
        border: 1px solid @border-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0px 5px;
        overflow-x: scroll;

        hr {
            position: sticky;
            left: 0;
        }
    }
}
